<div class="col-sm-6 col-md-6 isotope-item problemos">
    <div class="image-box">
        <div class="overlay-container">
            <img src="{{ problema.picture }}" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-1">
                <i class="fa fa-search-plus"></i>
                <span>Problemos</span>
            </a>
        </div>
        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">{{ problema.name }}</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                    <h4 class="modal-title" id="project-1-label">Problemos/iniciatyvos pavadinimas</h4>
                </div>
                <div class="modal-body">
                    {#<h3>Problemos/iniciatyvos aprašymas</h3>#}
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('public/images/problem-photo-1.jpg') }}" alt="">
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                            <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default">Prisijungti</button>
                    <button type="button" class="btn btn-sm btn-default">Papildyti</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
