<!-- section about start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="about"  class="text-center title">Kam šis projektas?</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Žmogui, kuris</h4>
                        <p>Yra aktyvus Kauno miesto gyventojas, žino savo miesto istoriją ir nesiruošia emigruoti</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-child"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Žmogui, kuris</h4>
                        <p>Ieško unikalių kūrybingų asmenybių, gebančių kritiškai vertinti viešąjį miesto gyvenimą</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Žmogui, kuris</h4>
                        <p>Domisi savo miesto socialine, kultūrine ir politine aplinka bei suvokia tolerancijos svarbą</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Žmogui, kuris</h4>
                        <p>Yra pilietinės visuomenės narys ir prisiima daugiau pareigų nei įpareigoja įstatymai</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="space visible-xs"></div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Verslui, kuris</h4>
                        <p>Savanoriškai imasi įgyvendinti iniciatyvas, siekdamas pagerinti miesto įvaizdį</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Verslui, kuris</h4>
                        <p>Siekia gerinti miesto ekonominę - socialinę būklę, sąmoningai priima sprendimus atsižvelgdamas į gyventojų gerovę</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-university"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Institucijoms, kurios</h4>
                        <p>Nekelia klausimo - <i>kam to reikia?</i>, o tiesiogiai prisideda prie miesto gyventojų bendruomenės kūrimo, keitimo ar tvarkymo</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Institucijoms, kurioms</h4>
                        <p>Nerūpi, jog gali tapti opozicija pačiai šalies valdžiai, bet aktyviai kuria miesto gyventojų gerovę</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Bendradarbiaukime!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->