<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add-label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span>
                </button>
                <h4 class="modal-title" id="add-label">Įkelti problemą</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="footer-content">
                            <form role="form" id="footer-form" enctype="multipart/form-data" method="post" id="newProblemAjaxForm">
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="itemName">Problemos pavadinimas</label>
                                    <input type="text" class="form-control" id="itemName" placeholder="Problemos pavadinimas" name="itemName" required>
                                    <i class="fa fa-info form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="itemDescription">Problemoss aprašymas</label>
                                    <textarea class="form-control" rows="8" id="itemDescription" placeholder="Problemos aprašymas" name="itemDescription" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="address">Adresas</label>
                                    <input type="text" class="form-control" id="address" placeholder="Adresas" name="address" required>
                                    <i class="fa fa-map-marker form-control-feedback"></i>
                                </div>
                                <div class="input-group has-feedback">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            Įkelti nuotrauką <input type="file" id="itemFile" > <!-- sutvarkyti css / class="file" -->
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly="readonly" disabled>
                                </div>
                                <div class="modal-footer" id="beletristika" url="{{ path('ajax_problem') }}">
                                    <input type="submit" value="Įkelti" class="btn btn-default" id="newProblem">
                                </div>
                            </form>
                            <div id="footer-form">
                          </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal end -->
