<div class="banner-image"></div>
<div class="banner-caption">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                <h1 class="text-center">Mes esame <span>aktyvūs!</span></h1>
                <p class="lead text-center"><span>Projektas skirtas pilietiškai aktyviems Kauno miesto gyventojams. </span> <br>
                    Būkime iniciatyvūs ir spręskime savo miesto problemoss Kartu!</p>
            </div>
        </div>
    </div>
</div>