<ul class="table-like">
    {% for item in items %}
        <li class="table-like__item uploads">
            <div class="description">
                <h4>{{ item.name() }}</h4>
                <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                    <span>Redaguoti</span>
                </i>
            </div>
            <div class="type">Problema</div>

            <div class="votes">
                <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> {{  item.votes() }}</i>
            </div>
            <div class="joined">
                <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 0</i>
            </div>
            <div class="date">
                <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> {{  item.date() }}</i>
            </div>
        </li>
    {% endfor %}
</ul>
