<div class="col-sm-6 col-md-6 isotope-item problems">
    <div class="image-box">
        <div class="overlay-container">
            <img src="{{ asset('public/images/problem-photo-1.jpg') }}" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-1">
                <i class="fa fa-search-plus"></i>
                <span>Plačiau</span>
            </a>
        </div>
        <section class="itemContent">
            <h4>Problemos/iniciatyvos pavadinimas</h4>
            <div class="authorInfo">
                <div><i class="fa fa-user"></i> Vardas Pavardenis</div>
                <div><i class="fa fa-calendar-plus-o"></i>  2015-10-15</div>
            </div>
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit.</p>
            <div class="text-left">
                <a data-toggle="modal" data-target="#project-1"><i class="fa fa-info-circle"></i></a>
                <a data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                <a data-toggle="modal"><i class="fa fa-minus-circle"></i></a>
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span>
                    </button>
                    <h4 class="modal-title" id="project-1-label">Problemos/iniciatyvos pavadinimas</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('/public/images/problem-photo-1.jpg') }}" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="authorInfo">
                                <div><i class="fa fa-user"></i> Vardas Pavardenis</div>
                                <div><i class="fa fa-calendar-plus-o"></i>  2015-10-15</div>
                            </div>
                            <div class="clearfix"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                            <address>
                                Adresas: Karaliaus Mindaugo pr. 38<br>
                            </address>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a data-toggle="modal"><i class="fa fa-plus-circle"></i></a>
                    <a data-toggle="modal"><i class="fa fa-minus-circle"></i></a>
                    {#<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
</div>