<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title text-center">Prisijungimas</h2>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="footer-content">
                            <form role="form" id="footer-form">
                                <div class="footer-content">

                                    <h3 class="text-center">Prisijunkite su:</h3>
                                    <div class="text-center">

                                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Prisijungti su Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" alt="Prisijungti su Google"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <input type="submit" value="Prisijungti" class="btn btn-default">
                    <input type="submit" value="Registruotis" class="btn btn-default">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
