<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="modal-title">Prisijungimas su:</h2>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Prisijungti su Facebook"><i class="fa fa-facebook"></i></a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" alt="Prisijungti su Google"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
