body {

    background: #e3e3e3;
}
.wrapper{
    width: 80%;
    margin: auto;
}
.content{
    background: white;
    min-height: 200px;
}
.login_img{
    padding-top: 5px;
    width: 40px;
}
.bandymas{
    color: black;

}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
    height: 38px;
}

#add .modal-footer {
    padding: 15px;
}